<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE = edge">
   <meta name="viewport" content="width = device-width,
         initial-scale = 1">

   <title>Top Programming Languages by Years | Dashboard</title>

   <!-- Bootstrap -->
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5
         elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the
         page via file:// -->

   <!--[if IE]>
      <script src="/assets/js/html5.js"></script>
   <![endif]-->

   <link rel="stylesheet" href="/stylesheets/bootstrap.css">
   <link
      href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,400italic,700,700italic,900,900italic'
      rel='stylesheet' type='text/css'>

</head>

<body>

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
   <script src="https://d3js.org/d3.v5.min.js"></script>
   <script src="/javascripts/custom.js"></script>

   <div class="container-fluid">

      <div class=" row main-header">

         <div class='col-4'>
            <div class="logo-wrapper">
               <h1><a href="/"><img src="/images/logo.png" /></a></h1>
            </div>
         </div>

         <div class='col-8'>
            <div class="menu-wrapper">




            </div>
         </div>




      </div>



      <div class="row dashboard-panel">


         <%if (data.error) { %>

         <div class='col-12'>
            <div class='info info-error'>User cannot be registered. Please try again !</div>
         </div>
         <% } %>

         <%if (data._id) { %>

         <div class='col-12'>
            <div class='info'>
               User has been registered successfully ! You can now login <br><br>
               <a href='/login' class='btn btn-primary btn-large'>Login</a>
            </div>
         </div>
         <% } %>



      </div>

      <div id="footer-wrapper" class="footer">
         <div class="container">
            <p class="text-muted credit">© 2019 FALCONS </p>
            <ul class="footer-nav">
               <li><a href="#">CMPE 280</a> </li>
               <li><a href="#">Privacy</a></li>
            </ul>
         </div>
      </div>

   </div>
</body>

</html>
